@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


/* general */
* {
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* navbar */

.navbar-nav a {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-nav a:hover {
	border-bottom: 2px solid rgb(3, 2, 2);
}

.navbar-nav a {
	color: #212529 !important;
	}

.navbar-light{
	background-color: yellow;
}

.logo {
	height: 50px;
}

/* home background */

.home-background {
    width: 100%;
    height: 400px;
    background: url('/img/fabe-collage-diqJhQtHHNk-unsplash.jpg')
    no-repeat center center/cover;
	color: #fff;
	justify-content: flex-end;
}


/* divider */

.divider {
    margin: 5rem 0;
}

/* home page bottom gallery */
.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

}

.gallery .column {
	flex: 33.3%;
	width: auto;
	overflow: hidden;
	padding: 0 4px;
	height: 100%;

}

.gallery .column img {
	margin-top: 2%;
	width: 100%;
	height: 100%;
	cursor: pointer;
	filter: grayscale(1) brightness(0.5);
	border-radius: 5px;
	transition: 0.3s linear;
}

.gallery .column img:hover {
	filter: grayscale(0) brightness(1);
}

@media only screen and (max-width: 800px){
	.gallery .column{
		flex: 50%;
	}
}
@media only screen and (max-width: 600px){
	.gallery .column{
		flex: 100%;
	}
	.gallery .column img {
		filter: grayscale(0) brightness(1);
	}
}

/* marché et foire */

.home-cards {
	text-align: center;
}

.home-cards img {
    width: 100%;
	margin-bottom: 20px;
	
}

.home-cards h3 {
	margin-bottom: 5px;
	
}

.container h1 {
	margin: 40px;
	text-align: center;
}

.marche-background {
	width: 100%;
    height: 400px;
    background: url('/img/bg01.jpg')
	no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
	color: #fff;
	justify-content: center;
	margin-top: 5px;
}

/* actualités */

.news-background {
	width: 100%;
    height: 400px;
    background: url(/img/news.jpg)
    no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
	color: #fff;
	justify-content: center;
	margin-top: 5px;
}

.card {
	margin: 20px;
}


/* lieux incontornables */

.places-background {
	width: 100%;
    height: 400px;
    background: url(/img/couchedesoleilisere.jpg)
    no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: center;
	color: #fff;
	justify-content: center;
	margin-top: 5px;
}
.carousel {
	position: relative;
  }
  .carousel-item img {
	object-fit: cover;
  }
  #carousel-thumbs {
	background: rgba(255,255,255,.3);
	bottom: 0;
	left: 0;
	padding: 0 50px;
	right: 0;
  }
  #carousel-thumbs img {
	border: 5px solid transparent;
	cursor: pointer;
  }
  #carousel-thumbs img:hover {
	border-color: rgba(255,255,255,.3);
  }
  #carousel-thumbs .selected img {
	border-color: #fff;
  }
  .carousel-control-prev,
  .carousel-control-next {
	width: 50px;
  }
  @media all and (max-width: 767px) {
	.carousel-container #carousel-thumbs img {
	  border-width: 3px;
	}
  }
  @media all and (min-width: 576px) {
	.carousel-container #carousel-thumbs {
	  position: absolute;
	}
  }
  @media all and (max-width: 576px) {
	.carousel-container #carousel-thumbs {
	  background: #ccccce;
	}
  }